<!--<php>$type = I('type');$gid = I('gid');</php>-->
<nav class="breadCrumb">
    <div id="page-nav-tit" class="main-width">
        <a href="{:U('Index/index')}">首页</a>
        <span>></span>
        <!--<if condition="$type eq '1'">-->
        <!--<span>服饰商城</span>-->
        <!--<span>></span>-->
        <!--<span>男人帮</span>-->
        <!--<elseif condition="$type eq '2'" />-->
        <!--<span>服饰商城</span>-->
        <!--<span>></span>-->
        <!--<span>女人帮</span>-->
        <!--<else />-->
        <!--<span>百宝箱</span>-->
        <!--</if>
        <span>女人帮</span>-->
        <!-- <if condition="$gid neq ''">
                <span>></span>
                <span class="goods-name"></span>
       </if>-->
    </div>
</nav>