<extend name="Public:base"/>
<block name="css">
    <link href="__CSS__/modal.css" rel="stylesheet" type="text/css"/>
    <link href="__CSS__/user.css" rel="stylesheet" type="text/css"/>
</block>
<block name="main">
    <include file="Public:r-sidebar"/>
    <div class="main-width join_submit">
        <h4>已提交的认证资料</h4>
        <form id="subForm" action="">
            <ul>
                <li><span class="merchant">商家名称</span><input type="text" required="true" name="merchantName" maxlength='40' validate="/[\u2E80-\u9FFF\w ]+$/i"
                                                             msg="请正确填写你的商店名称" placeholder="请填写你的商店名称">
                </li>
                <li>
                    <div class="l_side">
                        <span>业主名称</span><input type="text" name="name" required="true" maxlength='20'
                                                validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入真实姓名"
                                                placeholder="请填写你的真实姓名">
                    </div>
                    <div class="r_side">
                        <span>营业执照注册号</span><input type="text" name="businessLicenseNum" maxlength='18'
                                                    msg="请正确输入营业执照注册号">
                    </div>
                </li>

                <li>
                    <div class="l_side">
                        <span>从事行业</span><input type="text" name="cause" maxlength='10' required="true"
                                                validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入你的所在行业"
                                                placeholder="请填写你的所在行业">
                    </div>
                    <div class="r_side">
                        <span>年利润</span><input type="text" name="yearProfit" maxlength='10' required="true"
                                               validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入你公司的年利润额"
                                               placeholder="请填写你公司的年利润额">
                    </div>
                </li>

                <li>
                    <div class="l_side">
                        <span>证件号码</span><input type="text" name="idCard" maxlength='18' required="true"
                                                validate="idcard" msg="请正确输入18位第二代身份证号码" placeholder="请填写18位第二代身份证号码">
                    </div>
                    <div class="r_side">
                        <span>年收入</span><input type="text" name="yearIncome" maxlength='10' required="true"
                                               validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入你你公司的年收入"
                                               placeholder="请填写你公司的年收入">
                    </div>
                </li>

                <li>
                    <div class="l_side">
                        <span>手机号</span><input class="phone" type="text" name="telephone" required="true"
                                               required="true" maxlength='11' validate="phone" msg="请正确填写你的手机号"
                                               placeholder="请填写你的手机号">
                    </div>
                    <div class="r_side v_code">
                        <span>验证码</span>
                        <input type="text" class="msgVcode" name="vCode" required="true" maxlength='6'
                               required="true" validate="/^[\d]+$/" msg="请正确填写验证码" >
                        <!--   <i><img src="__IMG__/success.png"/></i> -->
                        <div style="background: #ebebe4;">发送验证码</div>
                    </div>
                </li>

                <li>
                    <div class="l_side">
                        <span>银行名称</span><input type="text" name="bankName" maxlength='20' required="true"
                                                validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入你的银行名称"
                                                placeholder="请输入你的银行名称">
                    </div>
                    <div class="r_side">
                        <span>银行开户名</span><input type="text" name="bankAccountName" maxlength='10' required="true"
                                                 validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入你的银行开户名"
                                                 placeholder="请输入你的银行开户名">
                    </div>
                </li>

                <li>
                    <div class="l_side">
                        <span>银行卡号</span><input type="text" name="cardid" maxlength='19' required="true"
                                                validate="/^(\d{16}|\d{19})$/" msg="请正确输入你的银行卡号"
                                                placeholder="请填写你的银行卡号">
                    </div>
                    <div class="r_side">
                        <span>加盟档位</span>
                        <select required="true" name="leagueLevel">
                            <option value="1">3000</option>
                            <option value="2">12000</option>
                        </select>
                    </div>
                </li>
                <li class="region inline-form flex-start flex align-center">
                    <label>所在地区</label>
                    <div id="addressPicker" data-toggle="distpicker">
                        <select required="true" validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入省份信息" id="provincePicker"
                                data-province="省" class="address-form-item"></select>
                        <select required="true" validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入城市信息" id="cityPicker"
                                data-city="市" class="address-form-item"></select>
                        <select required="true" validate="/[\u2E80-\u9FFF\w ]+$/i" msg="请正确输入市区" id="regionPicker"
                                data-district="区" class="address-form-item"></select>
                    </div>
                </li>
            </ul>
        </form>

        <h4>详细地址</h4>
        <div class="more_info">
            <div class="detail_arr">
                <textarea id="addr_detail" name="detailedAddress"></textarea>
            </div>
            <div class="upload_info">
                <div class="uplod_items">
                    <p>上传商城LOGO</p>
                    <span>注：请上传商城的LOGO图标</span>
                    <div class="photo_box">
                        <div id="addlogo" class="addpic">
                            <img src="__IMG__/add1.png"/>
                        </div>
                        <div id="dispic" class="addpic hidden">
                            <a title="点击更换logo">
                            <img style="width: 100%;height:100%;margin-top: 0" src=""/>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="uplod_items">
                    <p>上传营业执照</p>
                    <span>注：请上传企业营业执照的正面照片</span>
                    <div class="photo_box">
                        <div style="background: #ebebe4;" id="addZpic" class="addpic">
                            <img src="__IMG__/add1.png"/>
                        </div>
                        <div id="yypic" class="addpic hidden">
                            <a title="点击更换执照照片">
                            <img style="width: 100%;height:100%;margin-top: 0" src=""/>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="uplod_items">
                    <p>证件照片</p>
                    <span>注：请上传手持身份证的正面照、反面照</span>
                    <div class="photo_box clear">
                        <div id="identadd" style="float: left;margin-right: 10px" class="addpic">
                            <img src="__IMG__/add1.png"/>
                        </div>
                        <div id="identadd1" style="float: left;margin-right: 10px" class="addpic">
                            <img src="__IMG__/add1.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="submit_bt">提交申请</div>
    </div>
</block>
<block name="js">
    <script src="__JS__/distpicker.min.js"></script>
    <script>
        var subinf = '{:U("User/join-submit")}';
    </script>
    <script src="__JS__/join-submit-readonly.js"></script>
</block>
