<div class="modal cancel-order-modal" id="cancelOrderModal">
    <div class="main">
        <div class="header">
            <h4>确定取消订单？</h4>
            <a href="javascript:void(0)" class="close-modal"></a>
        </div>
        <div class="content">
            <p class="cancel-tit">取消订单后，本单享有的优惠券会一并取消是否继续？</p>
            <p class="cancel-reason gray-font">请选择取消订单的原因（必选）：</p>
            <div id="c_reason">
            </div>
            <button type="button" class="submit-cancel-order">提交</button>
        </div>
    </div>
</div>